::-webkit-scrollbar {
    display: none;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}
/* html, body {
    height: 100%;
} */
.container {
    margin: 1em auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    height: 720px;
}
#leftSide {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile {
    margin: 0 0 70px 70px;
    text-align: right;
}
.profile h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
}
.profile h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    font-size: 1.3em;
    color: rgb(142, 139, 139);
    margin-top: 5px;
}
.logo.profile h2:nth-child(2) {
    justify-content: space-around;
}
.profile h2 span {
    font-size: .8em;
    word-spacing: 0;
    color: rgb(192, 188, 188);
}
.logo {
    animation: moveRight 1.5s forwards;
    opacity: 0;
}
/* .logo.profile {
    animation-delay: 0s;
} */
.container #leftSide .profile.logo h1:nth-child(1) {
    animation-delay: .1s;
}
.container #leftSide .profile.logo h2:nth-child(2) {
    animation-delay: .3s;
}
.container #leftSide .profile.logo h2:nth-child(3) {
    animation-delay: .5s;
}
.container #leftSide .profile.logo h2:nth-child(4) {
    animation-delay: .7s;
}
@keyframes moveRight {
    0% {
        transform: translateX(-50%);
    }
    70% {
        opacity: .6;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#rightSide {
    height: 100%;
    display: flex;
    margin: auto 0 auto auto;
    width: 65%;
    gap: 30px;
    animation-delay: 0s;
    overflow: auto;
}
.grid_images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    animation: rising 1.7s forwards;
    opacity: 0;
}
@keyframes rising {
    from {
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.grid_images .item {
    width: 100%;
    position: relative;
    cursor: pointer;
}
.grid_images .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}
.grid_images .hidden_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    opacity: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: .5s;
    font-size: 1.5em; 
}
.grid_images .hidden_content:hover {
    opacity: 1;
}
.hidden_content .date {
    position: absolute;
    top: 5px;
    left: 5px;
}
.hidden_content .region {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
#lightBox_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(29, 31, 33, .95);
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
}
#lightBox_overlay.visible {
    opacity: 1;
    pointer-events: auto;
}
